<div class="mobile-frame">   
    <div class="container">
        <a href="./inicial-cliente" class="icone_de_seta">
            <img src="https://i.ibb.co/HnQRd23/seta-esquerda.png" alt="ícone de seta" class="icone_de_seta">
        </a>
        <h1 class="Texto">Rastreamento</h1>
    </div>
    <div>
        <mat-card 
class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="customizar_pedido" style="cursor: pointer;">Pedido N°01</mat-card-title>
        <mat-card-subtitle class="customizar_endereco">Endereço: </mat-card-subtitle>
        <mat-card-subtitle  class= "customizar_text_1">Status: </mat-card-subtitle>
        <mat-card-subtitle class="V1"> Valor: </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
    </div>
</div> 


