@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.mobile-frame {
    width: 430px; /* Largura típica de tela móvel */
    max-width: 100%;
    height: 932px; /* Altura típica de tela móvel */
    margin: 0 auto; /* Centraliza horizontalmente */
    border: 2px solid #ccc; /* Borda para simular um dispositivo */
    border-radius: 16px; /* Borda arredondada para aparência de celular */
    overflow: hidden; /* Evita overflow do conteúdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    background-color: #fff; /* Fundo branco */
  
}

    .container {
        display: flex;
        margin-left: 20px;
        align-items: center;
        margin-bottom: 700px;

    }

    .icone_de_seta {
        max-width: 30px;
        height: 40px;
        margin-left: 10px;

    }

    .Texto {
        font-family: 'Istok Web';
        font-size: 30px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .button_proximo {
        border-radius: 5px;
        font-weight: bold;
        font-family: 'Istok Web';
        background-color: #AB7DC2;
        padding: 7px 110px;
        text-decoration: none;
        color: black;
        border: 2px #8B49AC solid;
        margin-left: 65px;

    }