<!-- src/app/components/dish-form/dish-form.component.html -->
<div class="frame">
<h2>{{ isEdit ? 'Editar Prato' : 'Adicionar prato' }}</h2>
<form (ngSubmit)="saveDish()">
  <label class="nome" for="name">Nome:</label>
  <input class="name" type="text" id="name" [(ngModel)]="dish.name" name="name" required>

  <br>

  <label class="descricao" for="description">Descrição:</label>
  <input class="description" type="text" id="description" [(ngModel)]="dish.description" name="description" required>

  <br>

  <label class="valor" for="price">Preço:</label>
  <input class="price" type="number" id="price" [(ngModel)]="dish.price" name="price" required>

  <br>

  <a routerLink="/listar-pratos" class="button_voltar">Voltar</a>

  <button class="button_adicionar" type="submit">{{ isEdit ? 'Update' : 'Adicionar' }}</button>

  
</form>
</div>