 
<div class="container">
    <a href="./carrinho" class="icone_de_seta">
        <img src="seta-esquerda.png" alt="ícone de seta" class="icone_de_seta">
    </a>
    <h1 class="Texto">Detalhes do Pedido</h1>
</div>

<hr class="customizar_hr">

<div class="texto_detalhes">
    <h1 class="Texto_detalhes">Endereço de entrega</h1>
</div>

 <table class="nome_titulo"><tr>
      <td><mat-form-field class="nome">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <table class="logradouro_titulo"><tr>
        <td><mat-form-field class="logradouro">
          <mat-label>Endereço</mat-label>
          <input matInput>
         </mat-form-field></td>
        <!--<td><mat-form-field class="numero">
            <mat-label>N°</mat-label>
            <input matInput>
          </mat-form-field></td>
      </tr></table>
    
  
    <table class="complemento_titulo"><tr>
      <td><mat-form-field class="complemento">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="Ex. Apto 10, Casa A">
      </mat-form-field></td>
      <td><mat-form-field class="CEP">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Ex. 05881000">
      </mat-form-field></td> -->
    </tr></table>

    <table class="telefone_titulo"><tr>
        <td><mat-form-field class="telefone">
          <mat-label>Tel</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>

      <form>
        <h4 class="forma-de-pagamento">Forma de pagamento </h4>
        <mat-form-field class="pagamento">
          <mat-label>Selecionar pagamento</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food" class="customizar_select">
            @for (pagamento of pagamentos; track pagamento) {
              <mat-option [value]="pagamento.value" class="tester">{{pagamento.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>

      <a routerLink="/detalhes-do-pedido" class="button_finalizar" (click)="openSnackBar()">Finalizar Pedido</a>
