<div class="mobile-frame">
    <img src="https://i.ibb.co/sPycw2G/logo.jpg" alt="Logo" class="logo">
    <div class="icone-motoboy">
        <!-- <img src="../../../assets/images/icone-motoboy.jpg" alt="icone-motoboy">  -->
        <img src="https://cdn-icons-png.flaticon.com/512/93/93381.png" alt="icone-motoboy" width="50"> 
    </div> 

    <p class="p1"><strong>Endereço:</strong> {{cliente.endereco}}</p>
    <p class="p2"><strong>Destinatário:</strong> {{cliente.nome}}</p>

<div class="buttons"></div>
    <a routerLink="/tela-motoboy2?id={motoboyId}" class="button_proximo">  </a>
    <a routerLink="/tela-motoboy1" class="button_voltar">Voltar</a>

</div>
