<div class="popup-overlay" *ngIf="popup">
    <div class="popup">
      <h2>Confirmar entrega</h2>
      <p>Você realmente quer confirmar entrega?</p>
      <div class="buttons">
        <a (click)="finishRun()" class="btn">Sim</a>
        <a (click)="closePopup()" class="btn">Não</a>
      </div>
    </div>
  </div>

<div class="mobile-frame">
    <div class="header">
        <img src="https://i.ibb.co/sPycw2G/logo.jpg" alt="logo" class="logo">
        <h6>Pedido Nº {{pedidoId}}</h6>
    </div>

    <div class="map-placeholder">
      <!-- <img src="../../../assets/images/gps.jpg" alt="gps">   -->
      <img src="https://media-assets.wired.it/photos/656446e474583ad7b5dd914e/16:9/w_1328,h_747,c_limit/nuovi%20colori%20di%20google%20maps.png" alt="gps" width="400" height="200">  
      <div class="loader"></div>
    </div>
    <p class="p1"><strong>Endereço: </strong>{{cliente.endereco}}</p>
    <p class="p2"><strong>Destinatário: </strong>{{cliente.nome}}</p>
    
    <a (click)="openPopup()" class="button_finalizar">Finalizar</a>
    
    