<div class="comanda-pedidos">
    <h1>Pedidos</h1>
    <div class="pedidos">
      <div class="pedido" *ngFor="let order of pedidos">
        <h2 class="nome-pedido">Pedido Nº {{order.id}}</h2>
        <div class="pedido-tempo-container">
          <h2 class="pedido-tempo">{{ formatarTempo(temposRestantes[0]) }}</h2>
        </div>
        <div class="pedido-tempo-container">
          <h2 class="pedido-tempo">Valor total: {{order.valorTotal}}</h2>
          <h2 class="pedido-tempo">Status do pedido: {{order.status}}</h2>
        </div>
        <div class="ingredientes">
          <h5>Dados do cliente:</h5>
          <ul>
            <li>Nome: {{order.cliente.nome}}</li>
            <li>Endereço: {{order.cliente.endereco}}</li>
          </ul>
        </div>
        <button mat-button (click)="finalizarPedido(order.id)" class="finalizado">Finalizado</button>
      </div>
      </div>
  </div>