
.frame {
    max-width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 


}

    .button_adicionar, .button_voltar{
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-family: 'Istok Web';
        font-size: 20px;
        background-color: #AB7DC2;
        padding: 4px 50px;
        text-decoration: none;
        color: black;
        border: 2px #8B49AC solid;
    }

    .nome, .descricao, .valor, .name, .description, .price {
        font-family: Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 24px;
        margin-left: 4px;
        margin-right: 5px;
    }
